ide/vs20??/*.db
ide/vs20??/*.opendb
ide/vs20??/*.user
ide/vs20??/*.vcxproj.filters
ide/vs20??/.vs
out/
docs/
*.zip
.vs/CMake Overview
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/mimalloc/v16/Browse.VC.db
.vs/mimalloc/v16/Browse.VC.db-shm
.vs/mimalloc/v16/Browse.VC.db-wal
.vs/mimalloc/v16/Browse.VC.opendb
.vscode/build/Release/x64/.ninja_deps
.vscode/build/Release/x64/.ninja_log
.vscode/build/Release/x64/build.ninja
.vscode/build/Release/x64/cmake_install.cmake
.vscode/build/Release/x64/CMakeCache.txt
.vscode/build/Release/x64/compile_commands.json
.vscode/build/Release/x64/CTestTestfile.cmake
.vscode/build/Release/x64/mimalloc.dll.manifest
.vscode/build/Release/x64/mimalloc.exp
.vscode/build/Release/x64/.cmake/api/v1/query/client-vscode/query.json
.vscode/build/Release/x64/.cmake/api/v1/reply/cache-v2-5fad22d6de88f980faae.json
.vscode/build/Release/x64/.cmake/api/v1/reply/codemodel-v2-e4e7da8d485ae3d77025.json
.vscode/build/Release/x64/.cmake/api/v1/reply/directory-.-Release-5f406151a8639bb1ce60.json
.vscode/build/Release/x64/.cmake/api/v1/reply/index-2021-12-22T11-54-21-0604.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-obj-Release-ca11cf004de573a5559a.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-Release-28e757647d9ad3499264.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-static-Release-7de10b6fc1624b4a56ea.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-test-api-Release-6ffca6123487e83e0f51.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-test-stress-Release-07ad60e925d8088dca71.json
.vscode/build/Release/x64/.cmake/api/v1/reply/toolchains-v1-f28ea560afa57ad87a93.json
.vscode/build/Release/x64/CMakeFiles/cmake.check_cache
.vscode/build/Release/x64/CMakeFiles/rules.ninja
.vscode/build/Release/x64/CMakeFiles/TargetDirectories.txt
.vscode/build/Release/x64/CMakeFiles/3.21.1/CMakeCCompiler.cmake
.vscode/build/Release/x64/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
.vscode/build/Release/x64/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
.vscode/build/Release/x64/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
.vscode/build/Release/x64/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
.vscode/build/Release/x64/CMakeFiles/3.21.1/CMakeSystem.cmake
.vscode/build/Release/x64/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
.vscode/build/Release/x64/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
.vscode/build/Release/x64/CMakeFiles/Export/share/mimalloc-1.7/cmake/mimalloc-release.cmake
.vscode/build/Release/x64/CMakeFiles/Export/share/mimalloc-1.7/cmake/mimalloc.cmake
.vscode/build/Release/x64/CMakeFiles/ShowIncludes/foo.h
.vscode/build/Release/x64/CMakeFiles/ShowIncludes/main.c
.vs/VSWorkspaceState.json
.vscode/build/Release/x64/.cmake/api/v1/reply/codemodel-v2-da98a828189f50035133.json
.vscode/build/Release/x64/.cmake/api/v1/reply/directory-.-Release-2fa1042fb9ebbeeb5392.json
.vscode/build/Release/x64/.cmake/api/v1/reply/index-2021-12-22T14-38-13-0589.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-obj-Release-63cd485d9b8a95437f69.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-Release-c6c635cfac333e7a2e23.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-static-Release-28e1e1ad94fe391d2839.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-test-api-Release-a3379cac02fca5b207da.json
.vscode/build/Release/x64/.cmake/api/v1/reply/target-mimalloc-test-stress-Release-10a0f639ac65207f38c5.json
